.h:hover{
    background-color: #38017a;
    color: white;
    padding: 10px 16px;
    border-style: none;
    border-radius: 8px;
}

.btn_login:hover {
    color: #38017a;
    background-color: white;

  }

  #btn_banner:hover{

    color: #38017a;
    background-color: white;

  }

  #btn_banner2:hover{

    color: white;
    background-color: #38017a;

  }

  #mais:hover{

    color: #38017a;
    background-color: white;

  }